* {
    padding:0px;
    margin:0px;
}

body {
    width: 500px;
    height: 500px;
    background-color: #333231;
}

.title {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white;
    border: 5px dashed white;
    margin-bottom: 5%;
}

.descripcion {
    text-align: center;
    color: white;
    font-size: larger;
}